.f-wrapper {
    margin-top: 35rem;
}

.f-wrapper .container {
    margin-top: 8rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.f-wrapper {
    background-color: var(--primary-color);
}

.f-container {
    text-align: center;
}